/* style.css */

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 20px);
}

input[type="text"]:focus, input[type="file"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

a.logout {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #4CAF50;
}

a.logout:hover {
    color: #45a049;
}
